.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.time{
  width: 1vw;

}
.space{
  white-space: nowrap;
}
.search-results {
  height: 68%;
    overflow: scroll;
}
.profilepic{
  width:46px;  
  border-radius: 50%;
  height: 46px;

}
.click{
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(to left, #59C173 0%, #a17fe0 51%, #5D26C1 100%);
  }
}
.top{
  margin-top: 1vh;
}
th {
    background: white;
    position: sticky;
    top: 0;
    // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
.my-custom-class .tooltip-inner {
      background-color: darkgreen;
      font-size: 125%;
    }
    .my-custom-class .arrow::before {
      border-top-color: darkgreen;
    }
  .modal-content{
    width: 95vw;
  }
  .modal-dialog{
    margin-left: 25px;
    margin-right: 0;
  }
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.left{
    margin-left: 1vh;
}
th{white-space: nowrap;
    margin-bottom: 1vh;}
    .descip{
        height: 14vh;
        overflow-y: auto;
        width: 100%;
      }