<ng-template #contentt let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Images</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Images According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-photo-card [photodetails]="userDetail"></app-photo-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>


  <ng-template #videoList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">videos</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Videos According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-video-card [videodetails]="userDetail"></app-video-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>

  <ng-template #storiesList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">stories</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Stories According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-story-card [stories]="userDetail"></app-story-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>

  <ng-template #thoughtList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Thoughts</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Thoughts According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-thought-card [thoughtDetails]="userDetail"></app-thought-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>

  <ng-template #notesList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Notes</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Notes According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-note-card [notes]="userDetail"></app-note-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>

  <ng-template #podcastList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">podcast</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Podcast According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-podcast-card [podcasts]="userDetail"></app-podcast-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>


  <ng-template #musicList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Music</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Music According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-music-card [musicDetails]="userDetail"></app-music-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>


  <ng-template #articleList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Article</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Article According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <article-card [articles]="userDetail"></article-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>

  <ng-template #askList let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Ask</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      List Of Ask According To #{{nameTag}}
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='ontagPageSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of tagpageNos" [value]="page">{{page}}</option>
          </select>
        </div>
        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <ngb-pagination  [collectionSize]="tagCount" [pageSize]="pageSizetag" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
    
        </ngb-pagination>
      </div>
      <section class="content top search-results">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
              <div class="col-lg-2"  *ngFor="let userDetail of allTypeContent">
                <app-ask-card [askDetails]="userDetail"></app-ask-card>

              </div>
              <!-- <app-photo-card></app-photo-card> -->
            
          </div>
          <div class="text-center" *ngIf="allTypeContent.length==0">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
          <!-- <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div> -->
          
          
          <!-- /.row -->
          <!-- Main row -->
          
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
    
  </div>
  
  </ng-template>
  <div class="row">

    <div class="col-1 space" >
      <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
    </div>
    <div class="col-1 shiftLeft">
      <select class="browser-default form-control" (change)='onOptionsSelected($event)'>
        <!-- <option disabled selected value="">Page Size</option> -->
        <option *ngFor="let page of pageNos" [value]="page">{{page}}</option>
      </select>
    </div>
    <div class="col-3">
      <form>
        <div class="form-group">
          <!-- <label for="formGroupExampleInput">Example label</label> -->
          <input type="text" class="form-control" (input)="onSearchChange($event.target.value)" placeholder="Search #tags">
        </div>
      </form>
    </div>
  </div>
  
  
<div style="overflow-y:auto; height: 72vh">

    <table class="table">
        <thead>
          <tr>
            <th>Tags</th>
            <th>Image</th>
            <th>Video</th>
            <th>Stories</th>
            <th>Thought</th>
            <th>Notes</th>
            <th>Podcast</th>
            <th>Music</th>
            <th>Articles</th>
            <th>Ask</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of tags">
            <td>{{list.tag}}</td>
            <td (click)="open(contentt,list.tag,list.images,list.tag)" class="click"> {{list.images}}</td>
            <td (click)="video(videoList,list.tag,list.video,list.tag)" class="click"> {{list.video}}</td> 
            <td (click)="stories(storiesList,list.tag,list.stories,list.tag)" class="click"> {{list.stories}}</td> 
            <td (click)="thoughts(thoughtList,list.tag,list.thought,list.tag)" class="click"> {{list.thought}}</td> 
            <td (click)="notes(notesList,list.tag,list.notes,list.tag)" class="click"> {{list.notes}}</td> 

            <td (click)="podcast(podcastList,list.tag,list.podCast,list.tag)" class="click"> {{list.podCast}}</td> 
            
            <td (click)="music(musicList,list.tag,list.music,list.tag)" class="click"> {{list.music}}</td> 
            <td (click)="article(articleList,list.tag,list.article,list.tag)" class="click"> {{list.article}}</td> 
            <td (click)="ask(askList,list.tag,list.asks,list.tag)" class="click"> {{list.asks}}</td> 

    
          </tr>
         
         
        </tbody>
      </table>
      <div class="text-center" *ngIf="tags.length==0">
        <h2 >Sorry, Content isn't available Right Now</h2> 
       </div>
      </div>