<div class="search-results">
    <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-6">
               <h1 class="m-0 text-dark">Custom Alert</h1>
             </div><!-- /.col -->
             <!-- /.col -->
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>

       <div >
         <ng-template #content let-modal  > 
           <div class="bg-light">
 
           <div class="modal-header ">
             <h4 class="modal-title" id="modal-basic-title">Custom Alert</h4>
             <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <form [formGroup]="filterForm" (ngSubmit)="filter()">
           <div class="modal-body">
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="message" placeholder="Message" rows="3"></textarea>
              </div>
              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" formControlName="Reason" id="formGroupExampleInput" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Description" formControlName="Description" id="formGroupExampleInput2">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Active
                </label>
              </div> -->
            
           </div>
           <div class="modal-footer">
             <button type="submit" class="btn btn-success" >Submit</button>
           </div>
          </form>

         </div>
         </ng-template>
       </div>
 
       <div class="col-1">
        <button class="btn btn-primary delete" (click)="open(content)">
          Create Reason
        </button>   
      </div>
       <!-- Main content -->
      <app-custom-alert-table></app-custom-alert-table>
   </div>