.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.time{
  width: 1vw;

}
.space{
  white-space: nowrap;
}
.profilepic{
  width:46px;  
  border-radius: 50%;
  height: 46px;

}
.top{
  margin-top: 1vh;
}
th {
    background: white;
    position: sticky;
    top: 0;
    // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
.my-custom-class .tooltip-inner {
      background-color: darkgreen;
      font-size: 125%;
    }
    .my-custom-class .arrow::before {
      border-top-color: darkgreen;
    }
  .modal-content{
    width: 95vw;
  }
  .modal-dialog{
    margin-left: 25px;
    margin-right: 0;
  }
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.left{
    margin-left: 1vh;
}
th{white-space: nowrap;
    margin-bottom: 1vh;}
    .descip{
        height: 14vh;
        overflow-y: auto;
        width: 100%;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00C851;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #ff4444
        ;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #ff4444
        ;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }