
<form [formGroup]="filterForm" (ngSubmit)="filter()">

  <div class="form-row container-fluid">
    

    <div class="col">
    <select class="browser-default form-control" formControlName="criteria">
      <option *ngFor="let item of search" value="{{item.id}}">{{item.name}}</option>
    </select>
  </div>
  <div class="col">

    <div class="form-group">
      <!-- <label for="formGroupExampleInput">Example label</label> -->
      <input type="text" class="form-control" formControlName="searchstring" placeholder="Search Peoples">
    </div>
  </div>
    <div class="col-1" style="padding-left: 4vw;">
       
      <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
      </button>         
    </div>
    
  </div>
</form>

<div class="row">

  <div class="col-1 space" >
    <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
  </div>
  <div class="col-1 shiftLeft">
    <select class="browser-default form-control" (change)='onOptionsSelected($event)'>
      <!-- <option disabled selected value="">Page Size</option> -->
      <option *ngFor="let page of pageNo" [value]="page">{{page}}</option>
    </select>
  </div>
  <ngb-pagination  [collectionSize]="count" [pageSize]="pagggee" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">

  </ngb-pagination>

  <!-- <div class="col-3">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" (input)="onSearchChange($event.target.value)" placeholder="Search Peoples">
      </div>
    </form>
  </div> -->
</div>

<div style="overflow-y:auto; height: 72vh">

  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Profile Pic</th>
          <th>@ Name</th>
          <th>D.O.B</th>
          <th>Email</th>
          <th>Believed</th>
          <th>Believing</th>
          <th>Block User</th>

          <th>Creaated on</th>
          <th>User Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of peopleList">
          <td>{{list.firstName}}</td>
          <td *ngIf="!list.appsitePicture"> 
            <img
            src="assets/img/default-user-image.png"
            class="profilepic"
              onerror="this.src='assets/img/default-user-image.png';"
              />
          </td> 
          <td *ngIf="list.appsitePicture"> 
            <img
              src="{{baseURL}}/BlobFile/{{list.appsitePicture.blobId}}?ContentType={{list.appsitePicture.contentType}}"
              class="profilepic"
              onerror="this.src='assets/img/default-user-image.png';"
              />
          </td> 
          <td 	ngbTooltip="ABOUT:- {{list.about}} &#13; TAGLINE:- {{list.tagLine}}" container="body" >{{list.name}}</td>
          <td>{{list.birthDate | date:'d LLL y '}}</td>
          <td>{{list.user.emailId}}</td>
          <td>
            {{list.networkDetails.believed}}
          </td>
          <td>
            {{list.networkDetails.believeing}}
          </td>

          <td *ngIf="list.user.isBlockedUser==true">
              <label class="switch">
            <input type="checkbox" (change)="FieldsChange($event,list.userId)" checked>
                <span class="slider round"></span>
              </label>
          </td>
          <td *ngIf="list.user.isBlockedUser==false">
              <label class="switch">
            <input type="checkbox" (change)="FieldsChange($event,list.userId)" >
                <span class="slider round"></span>
              </label>
          </td>
          <!-- <td> 
            <form [formGroup]="blockForm" >
            <label class="switch">
          <input type="checkbox" (change)="FieldsChange($event,list.userId)" formControlName="blocking">
              <span class="slider round"></span>
            </label>
           </form>
          </td> -->
          <td class="time">{{list.createdOn | date:'d LLL y  hh:mm aa' }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-circle" 	ngbTooltip="Login Details"  (click)="loginDetails(feedbackDescription,list.appsiteId)" ><i class="fas fa-eye"></i>
            </button>          
            <button type="button" class="btn btn-warning btn-circle left" 	ngbTooltip="Content Details"  (click)="delete(deleteUser,list.appsiteId)"><i class="fas fa-eye"></i>
            </button>  
            <br>
            <button type="button" class="btn btn-primary btn-circle top" 	ngbTooltip="User History"  (click)="userHistoryDetails(userHistory,list.corelationId)" ><i class="fas fa-eye"></i>
            </button>      
          </td>
  
        </tr>
        <!-- <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td>
            <button type="button" class="btn btn-primary btn-circle"><i class="fas fa-edit"></i>
            </button>          
            <button type="button" class="btn btn-danger btn-circle left" ><i class="nav-icon fa fa-trash"></i>
            </button> 
          </td>
        </tr> -->
       
      </tbody>
    </table>
    <div class="text-center" *ngIf="peopleList.length==0">
      <h2 >Sorry, Content isn't available Right Now</h2> 
     </div>
    </div>


    <ng-template #userHistory let-modal  > 
      <div class="bg-light" >
      <div class="modal-header ">
        <div>
          <div class="row">
            <h4 class="modal-title" id="modal-basic-title">User History</h4>
      
          </div>
        </div>
       
        <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="text-center">
          <img src="{{textfeild}}" style="width: 100%; height: 71vh;">
          <br>
          <a  href="{{textfeild}}" class="btn btn-primary top" download="bug1" target="_blank">Click here to download </a>
      
        </div> -->
            <!-- <p >{{textfeild}}</p> -->
            <div class="row">

              <div class="col-1 space" >
                <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
              </div>
              <div class="col-1 shiftLeft">
                <select class="browser-default form-control" (change)='onOptionsSelectedPage($event)'>
                  <!-- <option disabled selected value="">Page Size</option> -->
                  <option *ngFor="let historypage of historypageNo" [value]="historypage">{{historypage}}</option>
                </select>
              </div>
              <ngb-pagination  [collectionSize]="hiscount" [pageSize]="pageValue" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadHistory($event)">
            
              </ngb-pagination>
            </div>
            <div style="overflow-y:auto; height: 72vh">
    
              <table class="table">
                  <thead>
                    <tr>
                      <th>Content Id</th>
                      <th>Content Type</th>
                      <th>Category</th>
                      <th>Datetime</th>
                      <!-- <th>Podcast</th>
                      <th>Ask</th>
                      <th>Articles</th>
                      <th>Notes</th>
                      <th>Thoughts</th> -->

                      <!-- <th>Last Alert</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of historyDetails">
                      <td>{{history.contentId}}</td>
                      <td>{{history.content}}</td>
                      <td>{{history.category}}</td>
                      <td>{{history.datetime | date:'d LLL y '}}</td>

                    </tr>
                  </tbody>
                </table>
                <div class="text-center" *ngIf="historyDetails.length==0">
                  <h2 >Sorry, history isn't available Right Now</h2> 
                 </div>
                </div>
      </div>
    </div>
    
    </ng-template>


    <ng-template #deleteUser let-modal  > 
      <div class="bg-light" >
      <div class="modal-header ">
        <div>
          <div class="row">
            <h4 class="modal-title" id="modal-basic-title">Content Details</h4>
      
          </div>
        </div>
       
        <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="text-center">
          <img src="{{textfeild}}" style="width: 100%; height: 71vh;">
          <br>
          <a  href="{{textfeild}}" class="btn btn-primary top" download="bug1" target="_blank">Click here to download </a>
      
        </div> -->
            <!-- <p >{{textfeild}}</p> -->
            <div style="overflow-y:auto; height: 72vh">
    
              <table class="table">
                  <thead>
                    <tr>
                      <th>Photo</th>
                      <th>Video</th>
                      <th>Story</th>
                      <th>Music</th>
                      <th>Podcast</th>
                      <th>Ask</th>
                      <th>Articles</th>
                      <th>Notes</th>
                      <th>Thoughts</th>

                      <!-- <th>Last Alert</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                       Total:- {{photoTotalCount}}
                      Report:-{{photoReportCount}}
                      </td>
                      <td>
                        Total:- {{videoTotalCount}}
                        Report:-{{videoReportCount}}
                      </td>
                      <td>
                        Total:- {{storyTotalCount}}
                        Report:-{{storyReportCount}}

                      </td>
                      <td>
                        Total:- {{musicTotalCount}}
                        Report:-{{musicReportCount}}

                      </td>
                      <td>
                        Total:- {{podcastTotalCount}}
                        Report:-{{podcastReportCount}}
                      </td>
                      <td>
                        Total:- {{askTotalCount}}
                        Report:-{{askReportCount}}
                      </td>
                      <td>
                        Total:- {{articlesTotalCount}}
                        Report:- {{articlesReportCount}}
                      </td>
                      <td>
                        Total:- {{notesTotalCount}}
                        Report:- {{notesReportCount}}
                      </td>
                      <td>
                        Total:- {{thoughtTotalCount}}
                        Report:- {{thoughtReportCount}}
                      </td>

                    </tr>
                    <!-- <tr>
                      <td>Mary</td>
                      <td>Moe</td>
                      <td>mary@example.com</td>
                      <td>
                        <button type="button" class="btn btn-primary btn-circle"><i class="fas fa-edit"></i>
                        </button>          
                        <button type="button" class="btn btn-danger btn-circle left" ><i class="nav-icon fa fa-trash"></i>
                        </button> 
                      </td>
                    </tr> -->
                   
                  </tbody>
                </table>
                </div>
      </div>
    </div>
    
    </ng-template>
<ng-template #feedbackDescription let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <div>
      <div class="row">
        <h4 class="modal-title" id="modal-basic-title">Login and Device Details</h4>
  
      </div>
    </div>
   
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div class="text-center">
      <img src="{{textfeild}}" style="width: 100%; height: 71vh;">
      <br>
      <a  href="{{textfeild}}" class="btn btn-primary top" download="bug1" target="_blank">Click here to download </a>
  
    </div> -->
        <!-- <p >{{textfeild}}</p> -->
        <div style="overflow-y:auto; height: 72vh">

          <table class="table">
              <thead>
                <tr>
                  <th>Last Login</th>
                  <th>Active on Web</th>
                  <th>Active on Mobile</th>
                  <!-- <th>Last Alert</th> -->
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>{{lastLogin | date:'d LLL y '}}</td>
                  <td>{{activeWeb}}</td>
                  <td>{{activeMob}}</td>
                  <!-- <td>{{lastAlert | date:'d LLL y '}}</td> -->
                </tr>
                <!-- <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-circle"><i class="fas fa-edit"></i>
                    </button>          
                    <button type="button" class="btn btn-danger btn-circle left" ><i class="nav-icon fa fa-trash"></i>
                    </button> 
                  </td>
                </tr> -->
               
              </tbody>
            </table>
            </div>
  </div>
</div>

</ng-template>