<ng-template #content let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Edit Custom Message</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <div class="modal-body">
       <div class="form-group">
        <textarea class="form-control" formControlName="message" placeholder="Message"  rows="3"></textarea>
      </div>
     
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" >Submit</button>
    </div>
   </form>
  
  </div>
  </ng-template>

  <ng-template #contenttt let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title"> Delete Reason</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- <form [formGroup]="filterForm" (ngSubmit)="filter()"> -->
    <div class="modal-body">
      Want to delete this?
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleting()">Delete</button>
    </div>
   <!-- </form> -->
  
  </div>
  </ng-template>

<table class="table">
    <thead>
      <tr>
        <th>Message</th>
        <th>Creaated on</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td>{{message.message}}</td>
        <td>{{message.createdOn | date:'d LLL y '}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-circle" (click)="open(content,message.customMessageId,message.message)" ><i class="fas fa-edit"></i>
          </button>          
          <button type="button" class="btn btn-danger btn-circle left" (click)="delete(contenttt,message.customMessageId)"><i class="nav-icon fa fa-trash"></i>
          </button>          
        </td>

      </tr>
      <!-- <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>
          <button type="button" class="btn btn-primary btn-circle"><i class="fas fa-edit"></i>
          </button>          
          <button type="button" class="btn btn-danger btn-circle left" ><i class="nav-icon fa fa-trash"></i>
          </button> 
        </td>
      </tr> -->
     
    </tbody>
  </table>
  <div class="text-center" *ngIf="messages.length==0">
    <h2 >Sorry, Content isn't available Right Now</h2> 
   </div>