<ng-template #reportUserList let-modal  > 
    <div class="bg-light" >
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">List of Reported user</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let reportList of reportListUser">
        <app-reported-list [UserList]="reportList.user"></app-reported-list>
        
      </div> 
      <div class="text-center" *ngIf="reportListUser.length==0">
        <h2 >Sorry, List of User isn't available Right Now</h2> 
       </div> 
    
    </div>
  </div>
  </ng-template>
  
    <ng-template #content let-modal  > 
      <div class="bg-light" >
  
      <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">{{nameValue}} Confirmation</h4>
        <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="deleteAskForm" (ngSubmit)="deleteConfirm()">
       <div class="modal-body">
         Are you sure Want to {{nameValue}} this Content?
         <div class="form-group">
           <select class="form-control" id="exampleFormControlSelect1" formControlName="reasonId">
             <option selected disabled>Please Select reason</option>
             <option *ngFor="let allreason of allreasons" [value]="allreason.reasonId">{{allreason.reason}}</option>
           </select>
         </div> 
       </div>
       <div class="modal-footer">
         <button type="submit" class="btn btn-danger">{{nameValue}}</button>
       </div>
     </form>
    </div>
  
    </ng-template>
  
  <ng-template #contentt let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Verification Confirmation</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure Want to Verify this Content?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="verifying()">Verify</button>
    </div>
  </div>
  
  </ng-template>
  <ng-template #feedbackDescription let-modal  > 
    <div class="bg-light" >
    <div class="modal-header ">
      <div>
        <div class="row">
          <h4 class="modal-title" id="modal-basic-title">Ask</h4>
    
        </div>
      </div>
     
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!-- <p  [innerHtml]="textfeild"></p> -->
        <p >{{textfeild}}</p>
    </div>
  </div>
  
  </ng-template>

  <div class="card">
    <div class="card-header" style="padding-left: 0;">                     
    <div class="form-inline">
         <div class="col-9" *ngIf="allAsk.reported==false">
           <button class="btn  btn-light " (click)="verify(contentt,allAsk.contentId)">
            <i class="nav-icon fa fa-check verify" *ngIf="allAsk.isVerified==true"></i>
            <i class="nav-icon fa fa-check" *ngIf="allAsk.isVerified==false"></i>
                         
          </button>   
         </div>

         <div class="col-4" *ngIf="allAsk.reported==true">
          <button class="btn  btn-light " (click)="verify(contentt,allAsk.contentId)">
            <i class="nav-icon fa fa-check verify" *ngIf="allAsk.isVerified==true"></i>
            <i class="nav-icon fa fa-check" *ngIf="allAsk.isVerified==false"></i>
                         
          </button>
        </div>

        <div class="col-5" *ngIf="allAsk.reported==true">
          <button class="btn  btn-light " (click)="reportUser(reportUserList,allAsk.contentId)">
            <i class="fas fa-user-shield"></i>            
          </button>   
        </div>
         <div class="col-1" style="float: right;"  *ngIf="allAsk.isDeleted==false">
          <button class="btn btn-light" (click)="open(content,allAsk.contentId,true,'Delete')">
            <i class="nav-icon fa fa-trash delete" ></i>
             </button>   
        </div>

        <!-- <div class="col-1" style="float: right;"  *ngIf="allAsk.isDeleted==true && !allAsk.reasonId">
          <button class="btn btn-light" (click)="open(content,allAsk.contentId,false,'Roll-Back')">
            <i class="nav-icon fa fa-undo" ></i>
             </button>   
        </div> -->
        <div class="col-1" style="float: right;"  *ngIf="allAsk.isDeleted==true">
          <button class="btn btn-light" (click)="deleteopen(content,allAsk.contentId,false,'Roll-Back',allAsk.reasonId)" [disabled]="isdisable">
            <i class="nav-icon fa fa-undo" ></i>
             </button>   
        </div>
       </div>
      
                      
     </div>
           <div class="card-body">
         "{{allAsk.title}}"
       </div> 
       <p class="pera">Published On:- {{allAsk.dateTime | date:'d LLL y '}} </p>
       <button type="button" class="btn btn-light" (click)="openThoughts(feedbackDescription,allAsk.title)"> 
        <i class="fas fa-book-open"></i>      
      </button>
       <app-user-details [userDetails]="allAsk.user"></app-user-details>

     
     </div>