<li class="nav-item dropdown user-menu">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    (click)="toggleDropdownMenu()"
  >
    <img
      src="assets/img/default-user-image.png"      class="user-image img-circle elevation-2"
    />
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <!-- User image -->
    <li class="user-header sidebar-dark-primary">
      <img src="assets/img/default-user-image.png"      class="user-image img-circle elevation-2"
      class="img-circle elevation-2" />

      <!-- <div class="info">
        <a class="d-block">{{userName}}</a>
      </div> -->
      <p style="color: whitesmoke;">
       {{userName}}
      </p>
    </li>
    <!-- Menu Body -->
    <!-- Menu Footer-->
    <li class="user-footer">
      <a (click)="reportUser(reportUserList)" class="btn btn-default btn-flat float-left"
      >Change Password</a
    >
      <a (click)="logout()" class="btn btn-default btn-flat float-right"
        >Sign out</a
      >
    </li>
    <!-- <li class="user-footer">
     
    </li> -->
  </ul>
</li>

<ng-template #reportUserList let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Change Your Password</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div *ngFor="let reportList of reportListUser">
      <app-reported-list [UserList]="reportList.user"></app-reported-list>
      
    </div>  -->
    <!-- <div class="text-center">
      <h2 >Sorry, List of User isn't available Right Now</h2> 
     </div>  -->
     <!-- <form [formGroup]="changePass" (ngSubmit)="passwordConfirm()">
      <div class="modal-body">
        <div class="form-group" >
          <input type="password" class="form-control"  formControlName="password"  placeholder="Enter New Password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password">
        </div>
        </div> 
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">submit</button>
      </div>
    </form> -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!--     -->
      <div class="form-group">
          <!-- <label>Email</label> -->
          <input type="text" formControlName="ExistingPassword" class="form-control" placeholder="Enter Existing Password" [ngClass]="{ 'is-invalid': submitted && f.ExistingPassword.errors }" />
          <div *ngIf="submitted && f.ExistingPassword.errors" class="invalid-feedback">
              <div *ngIf="f.ExistingPassword.errors.required">Existing Password is required</div>
              <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
          </div>
      </div>
      <!-- <div class="form-row"> -->
          <div class="form-group">
              <!-- <label>Password</label> -->
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  placeholder="Enter Password"/>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
          </div>
          <div class="form-group">
              <!-- <label>Confirm Password</label> -->
              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
          </div>
      <!-- </div> -->
      <!-- <div class="form-group form-check">
          <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
          <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
          <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
      </div> -->
      <div class="text-center">
          <button class="btn btn-primary mr-1">Change</button>
          <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> -->
      </div>
  </form>
  </div>
</div>
</ng-template>
