<ng-template #feedbackDescription let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <div>
      <div class="row">
        <h4 class="modal-title" id="modal-basic-title">Ideas</h4>
  
      </div>
      <div class="row">
        <!-- <p>{{titlefeild}}</p> -->
        <p>Ideas Description</p>

      </div>
    </div>
   
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <!-- <p  [innerHtml]="textfeild"></p> -->
      <p >{{textfeild}}</p>
  </div>
</div>

</ng-template>
<div class="card">
       <div class="card-body">
        "{{ideas.idea}}"
      </div> 
      <p class="pera">Published On:-{{ideas.datetime | date:'d LLL y '}} </p>
      <button type="button" class="btn btn-light" (click)="opening(feedbackDescription,ideas.idea)"> 
        <i class="fas fa-book-open"></i>      
      </button>
      <app-user-details [userDetails]="ideas.user"></app-user-details>

    
    </div>