.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }

  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  .btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  
  .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  }

  .btn-6 {
    background-image: linear-gradient(to left, #495FAC 0%, #86A8E7 51%, #5FFBF1 100%);
  }

  .btn-7 {
    background-image: linear-gradient(to left, #59C173 0%, #a17fe0 51%, #5D26C1 100%);
  }
  .btn-8 {
    background-image: linear-gradient(to right, #40E0D0 0%, #FF8C00 51%, #FF0080 100%);
  }

  .btn-9 {
    background-image: linear-gradient(to right, #fdeff9 0%, #ec38bc 51%, #7303c0 100%);
  }

  .btn-10 {
    background-image: linear-gradient(to right, #FFAF7B 0%, #D76D77 51%, #3A1C71 100%);
  }

  
  .btn-11 {
    background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 51%, #0052D4 100%);
  }

  .btn-12 {
    background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3 51%, #FDB99B 100%);
  }

  .btn-13 {
    background-image: linear-gradient(to right, #feac5e 0%, #c779d0 51%, #4BC0C8 100%);
  }