<div>
  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-1">
            <h3 class="m-0 text-dark">Dashboard</h3>
          </div>
          <div class="col-sm-6">
            <!-- <h1 class="m-0 text-dark">N</h1> -->
            <button class="btn btn-default" (click)="refresh()">
              <i class="fas fa-sync-alt" *ngIf="isRefresh==false"></i>
              <img src="assets/img/refresh.gif"  *ngIf="isRefresh==true">

            </button>
            
          </div>
          <!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <!-- <div class="small-box bg-warning"> -->
              <div class="small-box btn-1">
              <div class="inner">
                <h3>{{dashCounting}}</h3>

                <p>User</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a [routerLink]="['/home/peoples']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>


          <div class="col-lg-3 col-6"  >
            <!-- small box -->
            <div class="small-box btn-2" *ngIf="videoReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{videoCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{videoReportedCount}}/{{videoCount}}</h3>
                  </div>

                </div>

                <p>Videos</p>
              </div>
              <div class="icon">
                <i class="icon fas fa-video"></i>             
               </div>
              <a [routerLink]="['/home/video']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-danger" *ngIf="videoReportedCount!=0" >
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{videoCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{videoReportedCount}}/{{videoCount}}</h3>
                  </div>

                </div>

                <p>Videos</p>
              </div>
              <div class="icon">
                <i class="icon fas fa-video"></i>             
               </div>
              <a [routerLink]="['/home/video']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-3" *ngIf="ImageReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{ImageCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{ImageReportedCount}}/{{ImageCount}}</h3>
                  </div>

                </div>

                <p>Photos</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-image"></i>
              </div>
              <a [routerLink]="['/home/photo']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>


            <div class="small-box bg-danger" *ngIf="ImageReportedCount!=0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{ImageCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{ImageReportedCount}}/{{ImageCount}}</h3>
                  </div>

                </div>

                <p>Photos</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-image"></i>
              </div>
              <a [routerLink]="['/home/photo']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-4" *ngIf="MusiceReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{MusicCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{MusiceReportedCount}}/{{MusicCount}}</h3>
                  </div>

                </div>

                <p>Music</p>
              </div>
              <div class="icon">
                <i class="ion fab fa-itunes-note"></i>
              </div>
              <a [routerLink]="['/home/Music']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-danger" *ngIf="MusiceReportedCount!=0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{MusicCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{MusiceReportedCount}}/{{MusicCount}}</h3>
                  </div>

                </div>

                <p>Music</p>
              </div>
              <div class="icon">
                <i class="ion fab fa-itunes-note"></i>
              </div>
              <a [routerLink]="['/home/Music']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-5" *ngIf="PodcastReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{PodcastCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{PodcastReportedCount}}/{{PodcastCount}}</h3>
                  </div>

                </div>

                <p>Podcast</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-microphone"></i>
              </div>
              <a [routerLink]="['/home/Podcast']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-danger" *ngIf="PodcastReportedCount!=0"> 
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{PodcastCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{PodcastReportedCount}}/{{PodcastCount}}</h3>
                  </div>

                </div>

                <p>Podcast</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-microphone"></i>
              </div>
              <a [routerLink]="['/home/Podcast']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6"  >
            <!-- small box -->
            <div class="small-box btn-6" *ngIf="StoryReportedCount==0" >
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{StoryCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{StoryReportedCount}}/{{StoryCount}}</h3>
                  </div>

                </div>

                <p>Story</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-expand"></i>
              </div>
              <a [routerLink]="['/home/story']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-danger" *ngIf="StoryReportedCount!=0" >
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{StoryCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{StoryReportedCount}}/{{StoryCount}}</h3>
                  </div>

                </div>

                <p>Story</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-expand"></i>
              </div>
              <a [routerLink]="['/home/story']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-7" *ngIf="ArticleReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{ArticleCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{ArticleReportedCount}}/{{ArticleCount}}</h3>
                  </div>

                </div>

                <p>Article</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-book"></i>
              </div>
              <a [routerLink]="['/home/article']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-danger" *ngIf="ArticleReportedCount!=0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{ArticleCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{ArticleReportedCount}}/{{ArticleCount}}</h3>
                  </div>

                </div>

                <p>Article</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-book"></i>
              </div>
              <a [routerLink]="['/home/article']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-8" *ngIf="AskReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{AskCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{AskReportedCount}}/{{AskCount}}</h3>
                  </div>

                </div>

                <p>Ask</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-poll"></i>
              </div>
              <a [routerLink]="['/home/ask']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>


            <div class="small-box bg-danger" *ngIf="AskReportedCount!=0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{AskCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{AskReportedCount}}/{{AskCount}}</h3>
                  </div>

                </div>

                <p>Ask</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-poll"></i>
              </div>
              <a [routerLink]="['/home/ask']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-9" *ngIf="NoteReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{NoteCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{NoteReportedCount}}/{{NoteCount}}</h3>
                  </div>

                </div>
                <p>Notes</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-file"></i>
              </div>
              <a [routerLink]="['/home/note']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>


            <div class="small-box bg-danger" *ngIf="NoteReportedCount!=0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{NoteCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{NoteReportedCount}}/{{NoteCount}}</h3>
                  </div>

                </div>
                <p>Notes</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-file"></i>
              </div>
              <a [routerLink]="['/home/note']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-10" *ngIf="ThoughtReportedCount==0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{ThoughtCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{ThoughtReportedCount}}/{{ThoughtCount}}</h3>
                  </div>

                </div>

                <p>Thoughts</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-quote-left"></i>
              </div>
              <a [routerLink]="['/home/thought']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>


            <div class="small-box bg-danger" *ngIf="ThoughtReportedCount!=0">
              <div class="inner">
                <div class="row">
                  <div class="col">
                    <h3>{{ThoughtCount}}</h3>

                  </div>
                  <div class="col">
                    <h3>{{ThoughtReportedCount}}/{{ThoughtCount}}</h3>
                  </div>

                </div>

                <p>Thoughts</p>
              </div>
              <div class="icon">
                <i class="ion fas fa-quote-left"></i>
              </div>
              <a [routerLink]="['/home/thought']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-11">
              <div class="inner">
                <h3>{{feedbackCounting}}</h3>

                <p>Feedback</p>
              </div>
              <div class="icon">
                <i class="icon fas fa-comment"></i>             
               </div>
              <a [routerLink]="['/home/feedback']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-12">
              <div class="inner">
                <h3>{{ideaCounting}}</h3>

                <p>Ideas</p>
              </div>
              <div class="icon">
                <i class="icon fas fa-lightbulb"></i>              
              </div>
              <a [routerLink]="['/home/idea']"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box btn-13">
              <div class="inner">
                <h3>{{bugCounting}}</h3>

                <p>Bugs</p>
              </div>
              <div class="icon">
                <i class="ion fa fa-bug"></i>
              </div>
              <a [routerLink]="['/home/bug']"   class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        
        
        <!-- /.row -->
        <!-- Main row -->
        
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
</div>