<!-- <p>feedback works!</p> -->

<!-- <a href="https://wallpapercave.com/wp/wp1885553.jpg" download="gandhiji" target="_self">downnload</a> -->




<ng-template #content let-modal  > 
  <div class="bg-light" >

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Edit Custom Message</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="statusForm" (ngSubmit)="bugStatusUpdate()">
  <div class="modal-body">
     <div class="form-group">
      <select class="browser-default form-control" formControlName="bugStatus">
        <option *ngFor="let stat of status" [value]="stat.bugStatusId">{{stat.status}}</option>
      </select>    
    </div>
   
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" >Submit</button>
  </div>
 </form>

</div>
</ng-template>
<div class="search-results">
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-1">
              <h2 class="m-0 text-dark">Bug</h2>
            </div>
            <div class="col-sm-6">
              <!-- <h1 class="m-0 text-dark">N</h1> -->
              <button class="btn btn-default" (click)="refresh()">
                <i class="fas fa-sync-alt" *ngIf="isRefresh==false"></i>
                <img src="assets/img/refresh.gif"  *ngIf="isRefresh==true">

              </button>
              
            </div>
            <!-- /.col -->
            <!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <form [formGroup]="filterForm" (ngSubmit)="filter()">

        <div class="form-row container-fluid">
          <!-- <div class="col">
            <label class="switch">
              
              <input type="checkbox" (change)="FieldsChange($event)"  formControlName="IsReported">
              <span class="slider round"></span>
            </label>
            
          </div> -->
          <div class="col">
            <div class="input-group mb-3">
              <input [owlDateTime]="dt1" class="form-control" [owlDateTimeTrigger]="dt1" formControlName="FromDate" placeholder="From Date and Time">
              <owl-date-time #dt1></owl-date-time> 
            <!-- <input type="text" class="form-control" name="FromDate" id="FromDate" formControlName="FromDate" placeholder="From Date(yyyy-mm-dd)"  ngbDatepicker #d="ngbDatepicker"> -->
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
              <!-- <button class="btn btn-outline-secondary calendar"  type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button> -->
            </div>
          </div>

          </div>
          <div class="col">
            <div class="input-group">
              <input type="text" [owlDateTime]="dt2" class="form-control" [owlDateTimeTrigger]="dt2" formControlName="ToDate" placeholder="To Date and Time">
              <owl-date-time #dt2></owl-date-time> 
              <!-- <input type="text" class="form-control" name="ToDate" id="ToDate" formControlName="ToDate" placeholder="To Date(yyyy-mm-dd)" ngbDatepicker #date="ngbDatepicker"> -->
              <!-- <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div> -->
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <!-- <button class="btn btn-outline-secondary calendar"  type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button> -->
              </div>
            </div>          
          </div>
          <div class="col">
            <input type="text" class="form-control"
               placeholder="User Name"
               aria-label="Number"
               matInput
               formControlName="name"
               (input)="onSearchChange($event.target.value)"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of userList" (click)="selectUser(option.corelationId,option.firstName)">
            {{option.firstName}}
          </mat-option>
        </mat-autocomplete>
          </div>
          <div class="col">
          <select class="browser-default form-control" formControlName="bugStatus">
            <option *ngFor="let stat of status" [value]="stat.bugStatusId">{{stat.status}}</option>
          </select>
        </div>
          <!-- <div class="col">
           

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="IsReported">
              <label class="form-check-label" for="inlineCheckbox1">Reported</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="IsDeleted">
              <label class="form-check-label" for="inlineCheckbox2">Deleted</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" formControlName="Isverified">
              <label class="form-check-label" for="inlineCheckbox3">Verified</label>
            </div>
          
          </div> -->
          <div class="col-1" style="padding-left: 4vw;">
             
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
            </button>         
          </div>
          
        </div>
      </form>
      <!-- <div class="row">

        <div class="col-1 shiftLeft">
          <select class="browser-default custom-select" (change)='onOptionsSelected($event)'>
            <option *ngFor="let page of pageNo" [value]="page">{{page}}</option>
          </select>
        </div>
        <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div>
      </div> -->
      <div class="row">

        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='onOptionsSelected($event)'>
            <option *ngFor="let page of pageNo" [value]="page">{{page}}</option>
          </select>
        </div>

        <!-- <div class="col">
          <nav aria-label="Page navigation example" style="margin-right: 1vh;">
            <ul class="pagination justify-content-end">
              <li class="page-item" *ngFor="let page of pages" >
                <button class="page-link" (click)="next(page)">{{page}}</button>
              </li>
            </ul>
          </nav>
        </div> -->
        <!-- <p>Restricted size, no rotation:</p> -->
        <!-- <div class="justify-content-end" style="float: right;"> -->
          <!-- <div > -->
            <ngb-pagination [collectionSize]="bugCounting" [pageSize]="pagggee" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">

            </ngb-pagination>
          <!-- </div>
        </div> -->

      </div>

      <!-- <table class="table">
        <thead >
          <tr>
            <th >Bugs Description</th>
            <th >Published User</th>
            <th >Published Date</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody *ngFor="let bugDetail of bugDetails">
          <app-bug-card [bugs]="bugDetail" ></app-bug-card>
        </tbody>
      </table> -->
<div style="overflow-y:auto; height: 53vh">
      <table class="table">
        <thead>
          <tr>
            <th >Serial No</th>
            <th >Bugs Description</th>
            <th>Published User</th>
            <th >Published Date</th>
            <th>Image</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bugDetail of bugDetails; let i = index">
            <td>{{i+1}} </td>
            <td style="width: 64vh;">
              <div class="descip" >

              {{bugDetail.issue}}
              </div>
            </td>
            <td>{{bugDetail.user.fullName}} </td>
            <td>{{bugDetail.datetime | date:'d LLL y '}} </td>
             <td >
                <app-bug-card  [bugs]="bugDetail"></app-bug-card>
  </td>
  <td>
    <button type="button" class="btn btn-primary btn-circle" (click)="open(content,bugDetail.bugId)"><i class="fas fa-eye"></i>
    </button>
  </td>
            <!-- <app-bug-card [bugs]="bugDetail" ></app-bug-card> -->

            <!-- <td>
              <button type="button" class="btn btn-primary btn-circle" (click)="open(content,message.customMessageId,message.message)" ><i class="fas fa-edit"></i>
              </button>          
              <button type="button" class="btn btn-danger btn-circle left" (click)="delete(contenttt,message.customMessageId)"><i class="nav-icon fa fa-trash"></i>
              </button>          
            </td> -->
    
          </tr>
        
          
        </tbody>
      </table>
      <!-- <div class="text-center" *ngIf="bugDetails.length==0">
        <h2 >Sorry, Content isn't available Right Now</h2> 
       </div> -->
       <div class="text-center" *ngIf="bugDetails.length==0 && isLoading==true">
        <h2 >Sorry, Content isn't available Right Now</h2> 
       </div>
      <div class="d-flex justify-content-center" *ngIf="isLoading==false">
        <img src="assets/img/Loading.gif">
      </div>
    </div>
      <!-- Main content -->
      <!-- <section class="content top">
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-2" *ngFor="let bugDetail of bugDetails">
                <app-bug-card [bugs]="bugDetail" ></app-bug-card>
              </div>
            
          </div>
        </div>
      </section> -->
  </div>