.top{
    margin-top: 10px;
}
.verify{
    color: #28a745
}
.delete{
  color: #dc3535
}
.ng-autocomplete {
    width:100%;
    max-width: 600px;
    // padding: 0;
    display: table;
    margin: 0 auto;
    padding: 0;
  }
  .search-results {
    height: 68%;
      overflow: scroll;
  }
  .searching {
    height: 85vh;
    // overflow: scroll;
  }
  .shiftLeft{
    margin-left: 1.5vh;
  }

  .shifRight{
    margin-left: 118vh;
  }
  .space{
    white-space: nowrap;
  }
  