.top{
    margin-top: 10px;
}
.verify{
    color: #28a745
}
.delete{
  color: #dc3535
}
.search-results {
  height: 68%;
    overflow: scroll;
}
.searching {
  height: 85vh;
  // overflow: scroll;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  /* height: 17vh; */
  max-height: 7vh;
  overflow-y: scroll;
  font-size: 13px;
}
.shiftLeft{
  margin-left: 1.5vh;
}

.shifRight{
  margin-left: 118vh;
}
.space{
  white-space: nowrap;
}