<div class="search-results">
    <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-2">
               <h1 class="m-0 text-dark">#Tags</h1>
             </div><!-- /.col -->
             
             <!-- /.col -->
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>
 
       <!-- <div class="col">
            <label class="switch">
              
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            
          </div> -->
       <!-- Main content -->
       <app-tags-list></app-tags-list>
      <!-- <app-manage-delete-table></app-manage-delete-table> -->
   </div>