<div class="hold-transition login-page">
  <div class="login-box">
   
      
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to your Admin Panel</p>
    
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="UserName" formControlName="UserName" placeholder="userId">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="Password" formControlName="Password" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              
              <!-- /.col -->
              <div class="col-4">
                <button type="submit"  class="btn btn-primary btn-block">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
          </form>    
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
</div>


