<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/default-user-image.png" class="img-circle elevation-2" />
      </div>
      <div class="info">
        <a class="d-block">{{userName}}</a>
      </div>
    </div>

    <nav class="mt-2">

      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item" *ngIf="openCreate==false">
          <a [routerLink]="['/home/createUser']"  class="nav-link">
            <i class="nav-icon fas fa-user-edit"></i>
            <p>
              Create Users
            </p>
          </a>
        </li>


        <li class="nav-item">
          <a [routerLink]="['/home/dashboard']"  class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/home/peoples']"  class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Peoples
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a class="nav-link">
            <i class="nav-icon fas fa-palette"></i>
            <p>
              Creation
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/home/tags']"  class="nav-link">
                <i class="nav-icon fas fa-hashtag"></i>
                <p>
                  Tags
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/home/story']"  class="nav-link">
                <i class="nav-icon fas fa-expand"></i>
                <p>
                  Stories
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/home/thought']"  class="nav-link">
                <i class="nav-icon fas fa-quote-left"></i>
                <p>
                  Thoughts
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/home/note']"  class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>
                  Notes
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/home/article']"  class="nav-link">
                <i class="nav-icon fas  fa-book"></i>
                <p>
                  Articles
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/home/photo']"  class="nav-link">
                <i class="nav-icon fas fa-image"></i>
                <p>
                  Photos
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/home/video']"  class="nav-link">
                <i class="nav-icon fas fa-video"></i>
                <p>
                  Videos
                </p>
              </a>
            </li>


            <li class="nav-item">
              <a [routerLink]="['/home/Music']"  class="nav-link">
                <i class="nav-icon fab fa-itunes-note"></i>

                <p>
                  Music
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a [routerLink]="['/home/Podcast']"  class="nav-link">
                <i class="nav-icon fas fa-microphone"></i>
                <p>
                  Podcast
                </p>
              </a>
            </li>


            <li class="nav-item">
              <a [routerLink]="['/home/ask']"  class="nav-link">
                <i class="nav-icon fas fa-poll"></i>
                <p>
                  Ask
                </p>
              </a>
            </li>



          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home/feedback']"  class="nav-link">
            <i class="nav-icon fas fa-comment"></i>
            <p>
              Feedback
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/home/idea']"  class="nav-link">
            <i class="nav-icon fas fa-lightbulb"></i>
            <p>
              Idea
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/home/bug']"  class="nav-link">
            <i class="nav-icon fa fa-bug"></i>
            <p>
              Bug
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home/delete']"  class="nav-link">
            <i class="nav-icon fas fa-tasks"></i>
            <p>
              Manage Delete Reason
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/home/customAlert']"  class="nav-link">
            <i class="nav-icon fas fa-comment-alt"></i>
            <p>
              Custom Alert
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/home/ads']"  class="nav-link">
            <i class='nav-icon fas fa-ad'></i>
            <p>
              Manage Configuration
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>