<div class="search-results">
    <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-6">
               <h1 class="m-0 text-dark">Create User</h1>
             </div><!-- /.col -->
             <!-- /.col -->
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>

       <div >
         <ng-template #content let-modal  > 
           <div class="bg-light">
 
           <div class="modal-header ">
             <h4 class="modal-title" id="modal-basic-title">Create User</h4>
             <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <form [formGroup]="filterForm" (ngSubmit)="filter()">
           <div class="modal-body">
              <div class="form-group">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" formControlName="Username" placeholder="User Name">
              
                <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                  <div *ngIf="f.Username.errors.required">User Name is required</div>
              </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" formControlName="Password" placeholder="Password">
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                  <div *ngIf="f.Password.errors.required">Password is required</div>
                  <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
              </div>
              </div>
              <div class="form-group ">
                <select id="inputState" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.RoleId.errors }" formControlName="RoleId">
                  <!-- <option selected>Choose...</option> -->
                  <option *ngFor="let role of roles" [value]="role.roleId">{{role.role}}</option>
                </select>
                <div *ngIf="submitted && f.RoleId.errors" class="invalid-feedback">
                  <div *ngIf="f.RoleId.errors.required">Role is required</div>
              </div>
              </div>
              
              <div class="form-group">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" formControlName="FirstName" placeholder="First Name">
                <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                  <div *ngIf="f.FirstName.errors.required">First Name is required</div>
              </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" formControlName="LastName" placeholder="Last Name">
                <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                  <div *ngIf="f.LastName.errors.required">Last Name is required</div>
              </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PhoneNo.errors }" formControlName="PhoneNo" placeholder="Phone Number">
                <div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback">
                  <div *ngIf="f.PhoneNo.errors.required">Phone Number is required</div>
              </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }" formControlName="EmailId" placeholder="Email Id">
                <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
                  <div *ngIf="f.EmailId.errors.required">Email is required</div>
              </div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input"  formControlName="IsActive" >
                <label class="form-check-label" for="exampleCheck1">Active</label>
              </div>
           </div>
           <div class="modal-footer">
             <button type="submit" class="btn btn-success" >Submit</button>
           </div>
          </form>

         </div>
         </ng-template>
       </div>
 
       <div class="col-1">
        <button class="btn btn-primary delete" (click)="open(content)">
          Create User
        </button>   
      </div>
       <!-- Main content -->
       <app-users-list></app-users-list>
      <!-- <app-custom-alert-table></app-custom-alert-table> -->
   </div>