/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

@import '~ionicons/css/ionicons.min.css';

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~ngx-toastr/toastr';
@import "~ng-pick-datetime/assets/style/picker.min.css";
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.myCustomModalClass .modal-dialog {
  max-width: 98%;
}

.history .modal-dialog {
  max-width: 73%;
}
.tags .modal-dialog {
  max-width: 83%;
}