<div class="card-body">
  <hr/>      
    <!-- Title -->
    <h4 class="card-title" style="    font-size: 2vh;
    margin-bottom: 0;
">{{userDetail.fullName}}</h4>
    <!-- Text -->
    <p class="card-text" style="margin-bottom: 0;">@{{userDetail.atName}}</p>
    <!-- <p class="card-text">Published On.</p> -->
    <!-- Button -->
    <!-- <a href="#" class="btn btn-primary">Button</a> -->

  </div>