<ng-template #content let-modal  > 
  <div class="bg-light" *ngIf="openModal==false">

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">{{nameValue}} Confirmation</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">

    <div class="modal-body">
      Are you sure Want to {{nameValue}} this Content?
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1" formControlName="reasonId">
          <option selected disabled>Please Select reason</option>
          <option *ngFor="let allreason of allreasons" [value]="allreason.reasonId">{{allreason.reason}}</option>
        </select>
      </div> 
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  formControlName="delete" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Delete</label>
        </div> -->
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Undelete</label>
        </div>    -->
    </div>
    <!-- (click)="delete()" -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">{{nameValue}}</button>
    </div>
  </form>
</div>

</ng-template>

<ng-template #contentt let-modal  > 
  <div class="bg-light" *ngIf="openModal==false">

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Verification Confirmation</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure Want to Verify this Content?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="verifying()">Verify</button>
  </div>
</div>

</ng-template>

<ng-template #reportUserList let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">List of Reported user</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let reportList of reportListUser">
      <app-reported-list [UserList]="reportList.user"></app-reported-list>
    </div>  
    </div>
    <div class="text-center" *ngIf="reportListUser.length==0">
      <h2 >Sorry, List of User isn't available Right Now</h2> 
     </div> 
</div>
</ng-template>
<div class="card">
  <div class="card-header" style="    padding-left: 0;
  ">      <div class="form-inline">
        <div class="col-9" *ngIf="podcast.reported==false">
          <button class="btn  btn-light "  (click)="verify(contentt,podcast.contentId)">
            <i class="nav-icon fa fa-check verify" *ngIf=" podcast.isVerified==true"></i>
            <i class="nav-icon fa fa-check" *ngIf="podcast.isVerified==false"></i>
          </button>   
        </div>

        <div class="col-4" *ngIf="podcast.reported==true">
          <button class="btn  btn-light "  (click)="verify(contentt,podcast.contentId)">
            <i class="nav-icon fa fa-check verify" *ngIf=" podcast.isVerified==true"></i>
            <i class="nav-icon fa fa-check" *ngIf="podcast.isVerified==false"></i>
          </button>      
        </div>

        <div class="col-5" *ngIf="podcast.reported==true">
          <button class="btn  btn-light " (click)="reportUser(reportUserList,podcast.contentId)">
            <i class="fas fa-user-shield"></i>            
          </button>   
        </div>
        <!-- <div class="col-1" style="float: right;">
          <button class="btn btn-light" (click)="opening(content,podcast.contentId,podcast.isDeleted)">
            <i class="nav-icon fa fa-trash delete" *ngIf="podcast.isDeleted==false"></i>
            <i class="nav-icon fa fa-undo" *ngIf="podcast.isDeleted==true"></i>
           </button>   
        </div> -->
        <div class="col-1" style="float: right;"  *ngIf="podcast.isDeleted==false">
          <button class="btn btn-light" (click)="opening(content,podcast.contentId,true,'Delete')">
            <i class="nav-icon fa fa-trash delete" ></i>
            <!-- <i class="nav-icon fa fa-undo" (click)="open(content,photo.contentId,false)" *ngIf="photo.isDeleted==true"></i> -->
             </button>   
        </div>

        <div class="col-1" style="float: right;"  *ngIf="podcast.isDeleted==true">
          <button class="btn btn-light" (click)="opening(content,podcast.contentId,false,'Roll-Back',podcast.reasonId)" [disabled]="isdisable">
            <!-- <i class="nav-icon fa fa-trash delete" (click)="open(content,photo.contentId,true)" *ngIf="photo.isDeleted==false"></i> -->
            <i class="nav-icon fa fa-undo" ></i>
             </button>   
        </div>
      </div>
      <!-- onerror="this.src='../../../assets/img/Default_Photo@1x.png';" -->

                     
    </div>
      <!-- Card image -->
      <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap"> -->
      <div *ngIf="hide==false;">
        <img class="card-img-top heigh" src="{{images}}">

      </div>
      <div *ngIf="hide==true">
        <audio style="width: 100%;" controls autoplay>
          <source src="{{imageString}}" type="{{type}}">
        </audio>
      </div>
      <button type="button" class="btn btn-light" (click)="open()"> 
        <i class="fas fa-play" *ngIf="hide==false;"></i>
        <i class="fas fa-pause" *ngIf="hide==true"></i>      
      </button> 
      <div class="card-body">
        {{podcast.title}}
      </div> 
      <p class="pera">Published On:- {{podcast.dateTime | date:'d LLL y '}} </p>
      <!-- <p class="pera1" *ngIf="podcast.isDeleted">Deleted</p>
      <p class="pera2" *ngIf="podcast.isVerified && podcast.isDeleted==false">Verified</p> -->

      <app-user-details [userDetails]="podcast.user"></app-user-details>

    
    </div>