<div class="search-results">
    <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-6">
               <h1 class="m-0 text-dark">List of Peoples</h1>
             </div><!-- /.col -->
             <!-- /.col -->
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>

  
 
       <!-- <div class="col-1">
        <button class="btn btn-primary delete" (click)="open(content)">
          Create User
        </button>   
      </div> -->
       <!-- Main content -->
      <!-- <app-custom-alert-table></app-custom-alert-table> -->
      <app-people-list></app-people-list>
   </div>