<!-- <div class="card-body">
      <h4 class="card-title" style="    font-size: 2vh;
      margin-bottom: 0;
  ">{{user.fullName}}</h4>
      <p class="card-text" style="margin-bottom: 0;">@{{user.atName}}</p>
     
  
    </div> -->
    <div class="card">
      <!-- <div class="card-header">Header</div>
      <div class="card-body">Content</div>
      <div class="card-footer">Footer</div> -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title" style="    font-size: 2vh;
        margin-bottom: 0;
    ">{{user.fullName}}</h4>
        <!-- Text -->
        <p class="card-text" style="margin-bottom: 0;">@{{user.atName}}</p>
        <!-- <p class="card-text">Published On.</p> -->
        <!-- Button -->
        <!-- <a href="#" class="btn btn-primary">Button</a> -->
    
      </div>
    </div>
    