
<ng-template #content let-modal  > 
  <div class="bg-light" >

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">
    <div class="modal-body">
       <div class="form-group">
         <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" formControlName="Username" placeholder="User Name">
       
         <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
           <div *ngIf="f.Username.errors.required">User Name is required</div>
       </div>
       </div>
       <div class="form-group">
         <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" formControlName="Password" placeholder="Password">
         <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
           <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
       </div>
       </div>
       <div class="form-group ">
         <select id="inputState" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.RoleId.errors }" formControlName="RoleId">
           <!-- <option selected>Choose...</option> -->
           <option *ngFor="let role of roles" [value]="role.roleId">{{role.role}}</option>
         </select>
         <div *ngIf="submitted && f.RoleId.errors" class="invalid-feedback">
           <div *ngIf="f.RoleId.errors.required">Role is required</div>
       </div>
       </div>
       <div class="form-group">
         <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" formControlName="FirstName" placeholder="First Name">
         <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
           <div *ngIf="f.FirstName.errors.required">First Name is required</div>
       </div>
       </div>
       <div class="form-group">
         <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" formControlName="LastName" placeholder="Last Name">
         <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
           <div *ngIf="f.LastName.errors.required">Last Name is required</div>
       </div>
       </div>
       <div class="form-group">
         <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PhoneNo.errors }" formControlName="PhoneNo" placeholder="Phone Number">
         <div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback">
           <div *ngIf="f.PhoneNo.errors.required">Phone Number is required</div>
       </div>
       </div>
       <div class="form-group">
         <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }" formControlName="EmailId" placeholder="Email Id">
         <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
           <div *ngIf="f.EmailId.errors.required">Email is required</div>
       </div>
       </div>
       <div class="form-group form-check">
        <input type="checkbox" class="form-check-input"  formControlName="IsActive" >
        <label class="form-check-label" for="exampleCheck1">Active</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" >Submit</button>
    </div>
   </form>

</div>
</ng-template>

  <ng-template #deleteUser let-modal  > 
    <div class="bg-light" >
  
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title"> Delete Reason</h4>
      <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- <form [formGroup]="filterForm" (ngSubmit)="filter()"> -->
    <div class="modal-body">
      Want to delete this?
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleting()">Delete</button>
    </div>
   <!-- </form> -->
  
  </div>
  </ng-template>
  <div class="row">

    <div class="col-1 space" >
      <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
    </div>
    <div class="col-1 shiftLeft">
      <select class="browser-default form-control" (change)='onOptionsSelected($event)'>
        <!-- <option disabled selected value="">Page Size</option> -->
        <option *ngFor="let page of pageNos" [value]="page">{{page}}</option>
      </select>
    </div>
    <ngb-pagination  [collectionSize]="count" [pageSize]="pagggee" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">
  
    </ngb-pagination>
  </div>
  <div style="overflow-y:auto; height: 57vh;">

<table class="table">
    <thead>
      <tr>
        <th>UserName</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Active</th>
        <th>Creaated on</th>
        <th>Updated on</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of listUser">
        <td>{{list.username}}</td>
        <td>{{list.firstName}}</td>
        <td>{{list.lastName}}</td>
        <td>{{list.phoneNo}}</td>
        <td>{{list.emailId}}</td>
        <td *ngIf="list.isActive==false">No</td>
        <td *ngIf="list.isActive==true">Yes</td>

        <td>{{list.createdOn | date:'d LLL y '}}</td>
        <td>{{list.updatedOn | date:'d LLL y '}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-circle" (click)="open(content,list.userId,list.roleId,list.username,list.firstName,list.lastName,list.phoneNo,list.emailId,list.isActive)" ><i class="fas fa-edit"></i>
          </button>          
          <button type="button" class="btn btn-danger btn-circle left" (click)="delete(deleteUser,list.userId)"><i class="nav-icon fa fa-trash"></i>
          </button>          
        </td>

      </tr>
      <!-- <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>
          <button type="button" class="btn btn-primary btn-circle"><i class="fas fa-edit"></i>
          </button>          
          <button type="button" class="btn btn-danger btn-circle left" ><i class="nav-icon fa fa-trash"></i>
          </button> 
        </td>
      </tr> -->
     
    </tbody>
  </table>
  <div class="text-center" *ngIf="listUser.length==0">
    <h2 >Sorry, Content isn't available Right Now</h2> 
   </div>
  </div>
  