.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.left{
    margin-left: 1vh;
}
.space{
    white-space: nowrap;
  }
  th {
    background: white;
    position: sticky;
    top: 0;
    // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }