<ng-template #feedbackDescription let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <div>
      <div class="row">
        <h4 class="modal-title" id="modal-basic-title">Bug</h4>
  
      </div>
    </div>
   
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="{{textfeild}}" style="width: 100%; height: 71vh;">
      <br>
      <a  href="{{textfeild}}" class="btn btn-primary top" download="bug1" target="_blank">Click here to download </a>
  
    </div>
        <!-- <p >{{textfeild}}</p> -->
  </div>
</div>

</ng-template>
<div *ngFor="let im of img; let i = index">
  <!-- <a  href="{{im}}" download="bug{{i+1}}" target="_blank">Bug {{i+1}} </a> -->
  <button type="button" class="btn btn-primary bottom" (click)="opening(feedbackDescription,im)">
    <!-- <i class="fas fa-eye"></i> -->
    Bug{{i+1}}
  </button>
</div> 