.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  /* height: 17vh; */
  max-height: 7vh;
  overflow-y: scroll;
  font-size: 13px;
}
  .verify{
    color: #28a745
}
.delete{
  color: #dc3535
}
.heigh{
  height: 24vh;

}