<ng-template #content let-modal  > 
  <div class="bg-light" >

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">{{nameValue}} Confirmation</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">

    <div class="modal-body">
      Are you sure Want to {{nameValue}} this Content?
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1" formControlName="reasonId">
          <option selected disabled>Please Select reason</option>
          <option *ngFor="let allreason of allreasons" [value]="allreason.reasonId">{{allreason.reason}}</option>
        </select>
      </div> 
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="delete" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Delete</label>
        </div> -->

        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Undelete</label>
        </div>    -->
    </div>
    <!-- (click)="delete()" -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">{{nameValue}}</button>
    </div>
  </form>
</div>

</ng-template>
    

<ng-template #contentt let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Verification Confirmation</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure Want to Verify this Content?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="verifying()">Verify</button>
  </div>
</div>
</ng-template>

<ng-template #reportUserList let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">List of Reported user</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let reportList of reportListUser">
      <app-reported-list [UserList]="reportList.user"></app-reported-list>
    </div>
    <div class="text-center" *ngIf="reportListUser.length==0">
      <h2 >Sorry, List of User isn't available Right Now</h2> 
     </div> 
  </div>

</div>
</ng-template>


<ng-template #feedbackDescription let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <div>
      <div class="row">
        <h4 class="modal-title" id="modal-basic-title">Photos</h4>
  
      </div>
      <!-- <div class="row">
        <p>Ideas Description</p>

      </div> -->
    </div>
   
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <!-- <p  [innerHtml]="textfeild"></p> -->

      <ngb-carousel *ngIf="imag.length>1">
        <ng-template ngbSlide *ngFor="let ima of imag">
          <div class="picsum-img-wrapper" >
            <!-- <div (dblclick)="method2(feedbackDescription,img)"> -->
              <img src="{{ima}}" class="mh-100" style="width: 100%; height: 24vh;"
              onerror="this.src='assets/img/Default_Photo@1x.png';">
            <!-- </div> -->
          </div>
        </ng-template>
      </ngb-carousel>
      <div *ngIf="imag.length==1">
        <div *ngFor="let ima of imag">
          <img class="card-img-top heigh" src="{{ima}}" 
          onerror="this.src=' assets/img/Default_Photo@1x.png';"
          >
        </div>
      </div>

            <p >{{titlefeild}}</p>
  </div>
</div>

</ng-template>
    <div class="card">
      <div class="card-header" style="padding-left: 0;">
        <div class="form-inline">

          <div class="col-9" *ngIf="photo.reported==false">
            <button class="btn  btn-light "(click)="verify(contentt,photo.contentId)">
              <i class="nav-icon fa fa-check verify" *ngIf="photo.isVerified==true"></i>
              <i class="nav-icon fa fa-check" *ngIf="photo.isVerified==false"></i>
              </button>  
          </div>
          <div class="col-4" *ngIf="photo.reported==true">
            <button class="btn  btn-light "(click)="verify(contentt,photo.contentId)">
              <i class="nav-icon fa fa-check verify" *ngIf="photo.isVerified==true"></i>
              <i class="nav-icon fa fa-check" *ngIf="photo.isVerified==false"></i>
              </button>   
          </div>

          <div class="col-5" *ngIf="photo.reported==true">
            <button class="btn  btn-light " (click)="reportUser(reportUserList,photo.contentId)">
              <i class="fas fa-user-shield"></i>            
            </button>   
          </div>

          <div class="col-1" style="float: right;"  *ngIf="photo.isDeleted==false">
            <button class="btn btn-light" (click)="open(content,photo.contentId,true,'Delete')">
              <i class="nav-icon fa fa-trash delete" ></i>
              <!-- <i class="nav-icon fa fa-undo" (click)="open(content,photo.contentId,false)" *ngIf="photo.isDeleted==true"></i> -->
               </button>   
          </div>

          <div class="col-1" style="float: right;"  *ngIf="photo.isDeleted==true">
            <button class="btn btn-light" (click)="open(content,photo.contentId,false,'Roll-Back',photo.reasonId)" [disabled]="isdisable">
              <!-- <i class="nav-icon fa fa-trash delete" (click)="open(content,photo.contentId,true)" *ngIf="photo.isDeleted==false"></i> -->
              <i class="nav-icon fa fa-undo" ></i>
               </button>   
          </div>
        </div>
       
                       
      </div>
        <!-- Card image -->
        <!-- <img class="card-img-top" [src]="imageString"> -->
        <!-- <div *ngFor="let image of imageString"> -->
          
          <ngb-carousel *ngIf="img.length>1">
            <ng-template ngbSlide *ngFor="let im of img">
              <div class="picsum-img-wrapper" >
                <div (dblclick)="method2(feedbackDescription,img,photo.title)">
                  <img src="{{im}}" class="mh-100" style="width: 100%; height: 24vh;"
                  onerror="this.src='../../../assets/img/Default_Photo@1x.png';">
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
          <div *ngIf="img.length==1">
            <div *ngFor="let im of img">
              <div (dblclick)="method2(feedbackDescription,img,photo.title)">
              <img class="card-img-top heigh" src="{{im}}" 
              onerror="this.src='../../../assets/img/Default_Photo@1x.png';"
              >
            </div>
            </div>
          </div>
          
        <!-- </div> -->
        <!-- <p>{{image}}</p> -->

        <div class="card-body">
          {{photo.title}}
          <!-- "{{userDetail.thumbnail.blobId}}" -->
        </div> 
        <p class="pera" style="
        margin-left: 1.2vw;
        margin-bottom: 0;
        font-size: 12px;">Published On:- {{photo.dateTime | date:'d LLL y '}} </p>
        <!-- <p class="pera1" style="margin-left: 1vw;
        margin-bottom: 0;
        color: #dc3535" *ngIf="photo.isDeleted">Deleted</p>
      <p class="pera2" style=" margin-left: 1vw;
      margin-bottom: 0;
      color: #28a745" *ngIf="photo.isVerified && photo.isDeleted==false">Verified</p> -->

        <app-user-details [userDetails]="photo.user"></app-user-details>

      
      </div>
