  <!-- Card -->

  <!-- <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
<owl-date-time #dt1></owl-date-time> -->
<!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000"
  (scrolled)="onScrolldown()" [scrollWindow]="false">    -->
  <div class="searching">
    <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-1">
               <h2 class="m-0 text-dark">Ask</h2>
             </div>
             <div class="col-sm-6">
              <!-- <h1 class="m-0 text-dark">N</h1> -->
              <button class="btn btn-default" (click)="refresh()">
                <i class="fas fa-sync-alt" *ngIf="isRefresh==false"></i>
                <img src="assets/img/refresh.gif"  *ngIf="isRefresh==true">

              </button>
              
            </div>
             <!-- /.col -->
             <!-- <div class="col-sm-6">
               <ol class="breadcrumb float-sm-right">
                 <li class="breadcrumb-item">Home</li>
                 <li class="breadcrumb-item active">Ask</li>
               </ol>
             </div> -->
             <!-- /.col -->
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>
       <!-- /.content-header -->
       <form [formGroup]="filterForm" (ngSubmit)="filter()">

        <div class="form-row container-fluid">
          <div class="col">
            <div class="input-group mb-3">
              <input [owlDateTime]="dt1" class="form-control" [owlDateTimeTrigger]="dt1" formControlName="FromDate" placeholder="From Date and Time">
              <owl-date-time #dt1></owl-date-time> 
            <!-- <input type="text" class="form-control" name="FromDate" id="FromDate" formControlName="FromDate" placeholder="From Date(yyyy-mm-dd)"  ngbDatepicker #d="ngbDatepicker"> -->
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
              <!-- <button class="btn btn-outline-secondary calendar"  type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button> -->
            </div>
          </div>

          </div>
          <div class="col">
            <div class="input-group">
              <input type="text" [owlDateTime]="dt2" class="form-control" [owlDateTimeTrigger]="dt2" formControlName="ToDate" placeholder="To Date and Time">
              <owl-date-time #dt2></owl-date-time> 
              <!-- <input type="text" class="form-control" name="ToDate" id="ToDate" formControlName="ToDate" placeholder="To Date(yyyy-mm-dd)" ngbDatepicker #date="ngbDatepicker"> -->
              <!-- <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="date.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div> -->
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <!-- <button class="btn btn-outline-secondary calendar"  type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button> -->
              </div>
            </div>          
          </div>
          <div class="col">
            <!-- <input type="text" class="form-control" placeholder="User Name" (input)="onSearchChange($event.target.value)"> -->
            <input type="text" class="form-control"
               placeholder="User Name"
               aria-label="Number"
               matInput
               formControlName="name"
               (input)="onSearchChange($event.target.value)"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of userList" (click)="selectUser(option.corelationId,option.firstName)">
            {{option.firstName}}
          </mat-option>
        </mat-autocomplete>
          </div>

          <div class="col-3">
           

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="IsReported">
              <label class="form-check-label" for="inlineCheckbox1">Reported({{videoReportedCount}})</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="IsDeleted">
              <label class="form-check-label" for="inlineCheckbox2">Deleted</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" formControlName="Isverified">
              <label class="form-check-label" for="inlineCheckbox3">Verified</label>
            </div>



            <!-- <div class="form-check form-check-inline" *ngFor="let reporte of reported; let i = index">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]="reporte.id" formControlName="reported">
              <label class="form-check-label" for="inlineRadio1">{{reporte.name}}
              </label>
            </div> -->
          
          </div>
          <!-- <div class="col-1" style="padding-left: 2vw;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  (change)="status = $event.target.checked ? 1: 0" formControlName="status" id="status" name="status">
              <label class="form-check-label" for="defaultCheck1">
                Reported
              </label>
            </div> 
                    
          </div>
          <div class="col-1" style="padding-left: 2vw;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="2"  formControlName="status" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Verified
              </label>
            </div> 
                    
          </div>
          <div class="col-1" style="padding-left: 2vw;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="2" formControlName="reported" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Deleted
              </label>
            </div> 
                    
          </div> -->
          <div class="col-1" style="padding-left: 4vw;">
             
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
            </button>         
          </div>
          
        </div>
      </form>

       <div class="row">
 
        <div class="col-1 space" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">Page Size</label>
        </div>
        <div class="col-1 shiftLeft">
          <select class="browser-default form-control" (change)='onOptionsSelected($event)'>
            <!-- <option disabled selected value="">Page Size</option> -->
            <option *ngFor="let page of pageNo" [value]="page">{{page}}</option>
          </select>
        </div>
         <!-- <div class="col">
           <nav aria-label="Page navigation example" style="margin-right: 1vh;">
             <ul class="pagination justify-content-end">
               <li class="page-item" *ngFor="let page of pages" >
                 <button class="page-link" (click)="next(page)">{{page}}</button>
               </li>
             </ul>
           </nav>
         </div> -->
         <ngb-pagination  [collectionSize]="videoCount" [pageSize]="pagggee" [(page)]="pagesall" [maxSize]="5" [boundaryLinks]="true" (pageChange)="loadPage($event)">

        </ngb-pagination>
       </div>
 
 
 
       
       <!-- Main content -->
       <section class="content top search-results" >
         <div class="container-fluid">
           <!-- Small boxes (Stat box) -->
           <div class="row">
               <div class="col-lg-2" *ngFor="let userDetail of userDetails" >
                 <!-- <div class="card">
                  <div class="card-header" style="padding-left: 0;">                     
                  <div class="form-inline">
                       <div class="col-9" *ngIf="userDetail.reported==false">
                         <button class="btn  btn-light " (click)="verify(contentt,userDetail.contentId)">
                          <i class="nav-icon fa fa-check verify" *ngIf="userDetail.isVerified==true"></i>
                          <i class="nav-icon fa fa-check" *ngIf="userDetail.isVerified==false"></i>
                                       
                        </button>   
                       </div>

                       <div class="col-4" *ngIf="userDetail.reported==true">
                        <button class="btn  btn-light " (click)="verify(contentt,userDetail.contentId)">
                          <i class="nav-icon fa fa-check verify" *ngIf="userDetail.isVerified==true"></i>
                          <i class="nav-icon fa fa-check" *ngIf="userDetail.isVerified==false"></i>
                                       
                        </button>
                      </div>
            
                      <div class="col-5" *ngIf="userDetail.reported==true">
                        <button class="btn  btn-light " (click)="reportUser(reportUserList,userDetail.contentId)">
                          <i class="fas fa-user-shield"></i>            
                        </button>   
                      </div>
                       <div class="col-1" style="float: right;"  *ngIf="userDetail.isDeleted==false">
                        <button class="btn btn-light" (click)="open(content,userDetail.contentId,true,'Delete')">
                          <i class="nav-icon fa fa-trash delete" ></i>
                           </button>   
                      </div>
            
                      <div class="col-1" style="float: right;"  *ngIf="userDetail.isDeleted==true && !userDetail.reasonId">
                        <button class="btn btn-light" (click)="open(content,userDetail.contentId,false,'Roll-Back')" disabled>
                          <i class="nav-icon fa fa-undo" ></i>
                           </button>   
                      </div>
                      <div class="col-1" style="float: right;"  *ngIf="userDetail.isDeleted==true && userDetail.reasonId!=null">
                        <button class="btn btn-light" (click)="deleteopen(content,userDetail.contentId,false,'Roll-Back',userDetail.reasonId)">
                          <i class="nav-icon fa fa-undo" ></i>
                           </button>   
                      </div>
                     </div>         
                   </div>
                     <div class="card-body">
                       "{{userDetail.title}}"
                     </div> 
                     <p class="pera">Published On:- {{userDetail.dateTime | date:'d LLL y '}} </p>
                     <app-user-details [userDetails]="userDetail.user"></app-user-details>     
                   </div> -->
                   <app-ask-card [askDetails]="userDetail"></app-ask-card>
               </div>
           </div>
           <div class="text-center" *ngIf="userDetails.length==0 && isLoading==true">
            <h2 >Sorry, Content isn't available Right Now</h2> 
           </div>
           <div class="d-flex justify-content-center" *ngIf="isLoading==false">
            <img src="assets/img/Loading.gif">
          </div>
           
           <!-- /.row -->
           <!-- Main row -->
           
           <!-- /.row (main row) -->
         </div><!-- /.container-fluid -->
       </section>
   </div>