.top{
    margin-top: 10px;
}
.verify{
    color: #28a745
}
.delete{
  color: #dc3535
}
.search-results {
  height: 68%;
    overflow: scroll;
}
.searching {
  height: 85vh;
  // overflow: scroll;
}
.card-body {
  flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    /* max-height: 20vh; */
    height: 18vh;
    overflow-y: scroll;
}
.shiftLeft{
  margin-left: 1.5vh;
}
.pera{
  margin-left: 1.2vw;
  margin-bottom: 0;
  font-size: 12px;
  }
  .pera1{
    margin-left: 1vw;
      margin-bottom: 0;
      color: #dc3535
    }
    .pera2{
      margin-left: 1vw;
        margin-bottom: 0;
        color: #28a745
      }
      .pad{      padding-bottom: 3vh;
}
.shifRight{
  margin-left: 118vh;
}
.space{
  white-space: nowrap;
}