<!-- Card -->

  <!-- Card -->
<ng-template #content let-modal  > 
  <div class="bg-light" >

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Change Configuration</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <form [formGroup]="statusForm" (ngSubmit)="bugStatusUpdate()"> -->
  <div class="modal-body">
    <p>Are You sure want to change the configuration for ads?</p>
     <!-- <div class="form-group">
      <select class="browser-default form-control" formControlName="bugStatus">
        <option *ngFor="let stat of status" [value]="stat.bugStatusId">{{stat.status}}</option>
      </select>    
    </div> -->
   
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" >Save</button>
  </div>
 <!-- </form> -->

</div>
</ng-template>
  <!-- <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
<owl-date-time #dt1></owl-date-time> -->
<!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000"
  (scrolled)="onScrolldown()" [scrollWindow]="false">    -->
  <div class="search-results">
    <div class="content-header">
         <div class="container-fluid">
           <div class="row mb-2">
             <div class="col-sm-2">
               <h1 class="m-0 text-dark">Enable Ads</h1>
             </div><!-- /.col -->
             <div class="col">
               <form [formGroup]="filterForm" >
                <label class="switch">
                
              <input type="checkbox" (change)="FieldsChange($event)" formControlName="ads">
              <!-- <input type="checkbox"  checked> -->
                  <span class="slider round"></span>
                </label>
               </form>
             
              
            </div>
             <!-- /.col -->
           </div><!-- /.row -->
         </div><!-- /.container-fluid -->
       </div>
 
       <!-- <div class="col">
            <label class="switch">
              
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            
          </div> -->
       <!-- Main content -->
      <!-- <app-manage-delete-table></app-manage-delete-table> -->
   </div>