.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    height: 17vh;
    overflow-y: scroll;
  }
  .verify{
    color: #28a745
}
.delete{
  color: #dc3535
}
.heigh{
  height: 24vh;

}
.pera{
  margin-left: 1.2vw;
  margin-bottom: 0;
  font-size: 12px;
  }
  .pera1{
    margin-left: 1vw;
      margin-bottom: 0;
      color: #dc3535
    }
    .pera2{
      margin-left: 1vw;
        margin-bottom: 0;
        color: #28a745
      }