<ng-template #content let-modal  > 
  <div class="bg-light" *ngIf="openModal==false">

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">{{nameValue}} Confirmation</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="filter()">

    <div class="modal-body">
      Are you sure Want to {{nameValue}} this Content?
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1" formControlName="reasonId">
          <option selected disabled>Please Select reason</option>
          <option *ngFor="let allreason of allreasons" [value]="allreason.reasonId">{{allreason.reason}}</option>
        </select>
      </div> 
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  formControlName="delete" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Delete</label>
        </div> -->
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Undelete</label>
        </div>    -->
    </div>
    <!-- (click)="delete()" -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">{{nameValue}}</button>
    </div>
  </form>
</div>

</ng-template>

<ng-template #contentt let-modal > 
  <div class="bg-light" *ngIf="openModal==false">

  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">Verification Confirmation</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure Want to Verify this Content?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="verifying()">Verify</button>
  </div>
</div>

</ng-template>

<ng-template #reportUserList let-modal  > 
  <div class="bg-light" >
  <div class="modal-header ">
    <h4 class="modal-title" id="modal-basic-title">List of Reported user</h4>
    <button type="button" class="btn btn-light"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let reportList of reportListUser">
      <app-reported-list [UserList]="reportList.user"></app-reported-list>
    </div> 
    </div>
    <div class="text-center" *ngIf="reportListUser.length==0">
      <h2 >Sorry, List of User isn't available Right Now</h2> 
     </div> 
</div>
</ng-template>

<div class="card" >
  <div class="card-header" style="padding-left: 0;">      <div class="form-inline">
        <div class="col-9" *ngIf="video.reported==false">
          <button class="btn  btn-light " (click)="verify(contentt,video.contentId)">
            <i class="nav-icon fa fa-check verify" *ngIf="video.isVerified==true"></i>
            <i class="nav-icon fa fa-check" *ngIf="video.isVerified==false"></i>
          </button>   
        </div>
        <div class="col-4" *ngIf="video.reported==true">
          <button class="btn  btn-light " (click)="verify(contentt,video.contentId)">
            <i class="nav-icon fa fa-check verify" *ngIf="video.isVerified==true"></i>
            <i class="nav-icon fa fa-check" *ngIf="video.isVerified==false"></i>
          </button>    
        </div>

        <div class="col-5" *ngIf="video.reported==true">
          <button class="btn  btn-light " (click)="reportUser(reportUserList,video.contentId)">
            <i class="fas fa-user-shield"></i>            
          </button>   
        </div>
        <!-- <div class="col-1" style="float: right;">
          <button class="btn btn-light" (click)="opening(content,video.contentId,video.isDeleted)">
            <i class="nav-icon fa fa-trash delete" *ngIf="video.isDeleted==false"></i>
            <i class="nav-icon fa fa-undo" *ngIf="video.isDeleted==true"></i>
           </button>   
        </div> -->

        <div class="col-1" style="float: right;"  *ngIf="video.isDeleted==false">
          <button class="btn btn-light" (click)="opening(content,video.contentId,true,'Delete')">
            <i class="nav-icon fa fa-trash delete" ></i>
             </button>   
        </div>

        <div class="col-1" style="float: right;"  *ngIf="video.isDeleted==true">
          <button class="btn btn-light" (click)="opening(content,video.contentId,false,'Roll-Back',video.reasonId)" [disabled]="isdisable">
            <i class="nav-icon fa fa-undo" ></i>
             </button>   
        </div>
      </div>
     
                     
    </div>

      <!-- Card image -->
      <div *ngIf="hide==false;">
        <img class="card-img-top heigh" src="{{images}}">

      </div>
      <div *ngIf="hide==true">
        <video style="width: 100%; height: 24vh;" controls autoplay>
          <source src="{{imageString}}" type="{{type}}">
        </video>
      </div>
      <button type="button" class="btn btn-light" (click)="open()"> 
        <i class="fas fa-play" *ngIf="hide==false;"></i>
        <i class="fas fa-pause" *ngIf="hide==true"></i>      
      </button>

      <div class="card-body">
        {{video.title}}
      </div>
      <p class="pera">Published On:- {{video.dateTime | date:'d LLL y '}} </p>
      <!-- <p class="pera1" *ngIf="video.isDeleted">Deleted</p>
      <p class="pera2" *ngIf="video.isVerified && video.isDeleted==false">Verified</p> -->

      <!-- Card content -->
      <app-user-details [userDetails]="video.user"></app-user-details>
    
    </div>