.top{
    margin-top: 10px;
}
.verify{
    color: #28a745
}
.delete{
  color: #dc3535
}
.search-results {
  height: 85vh;
  overflow: scroll;
}
.search-results {
  height: 68%;
    overflow: scroll;
}
.searching {
  height: 85vh;
  // overflow: scroll;
}
.shifRight{
  margin-left: 118vh;
}
.space{
  white-space: nowrap;
}